body {
    margin-top: 0;
}

#bodyContent {
    margin: 0 auto;
    padding: 15px 30px;
    width: 800px;
    background-repeat: repeat;
    background-image: url("../image/bg_check.png");
}

.text-center {
    text-align: center;
}

.simple-content {
    width: 80%;
    margin: auto;
}

.menu-bar {
    margin: 0 auto;
    width: 100%
}

.menu-bar td {
    padding: 2px 6px;
    width: 50%;
    background-color:#FFCB77;
}

.copyright {
    margin-top: 2em;
    padding-top: 1em;
    border-top: solid 1px;
    text-align: center;
    color: #595959;
    font-style: italic;
}